html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.first-section {
  display: flex;
  height: 100vh;
}

.left-half, .right-half {
  width: 50%;
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  padding: 10px;
}

.content-left, .content-right {
  width: 100%;
  max-width: 500px;
}

/* rightcontent */
.doubt h2 {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 16rem;
  font-size: 1rem;
  color: #333;       
  font-style: italic;
  border-radius: 8px;
  font-family:Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.doubt a{
  text-decoration:underline;
}
.content-right{
    margin-top: 20px;
    margin-left: -170px;
}

/* heding left */

.coin-converter {
  display: flex;
  flex-direction: column;

}

.coin-converter h1{
  font-size: 62px;
  font-family:'Roboto',Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.coin-converter h2{
  font-size: 18px;
  font-family:Arial, Helvetica, sans-serif;
}

.left-half{
  margin-top: -15px;
}

.form-box {
  display: flex;
  flex-direction: column;
  margin-bottom: -40px;
}

.form-box ::placeholder{
  color: gray;
  font-size: 11.5px;
}

/* icons */

.swap-icon {
  position: absolute;
  top: 60%;
  left: 18%;
  transform: translate(-5%, -50%);
  z-index: 2;
}
.question-icon {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0;
  top: 70%;
  left: 90%;
  transform: translate(-59%, 300%);
  z-index: 2; 
}
.form-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px; 
  margin-top: 20px;
}
.input-with-flag{
  display: flex;
  align-items: center;
}

.box {
  width: 200px;
  height: 31px;
  padding: 8px;
}

label {
  font-weight: bold;
  font-size: 1.1rem;
}
input {
  font-size: 18px;      
  font-weight: bold;     
  color: #333;           
  font-family: 'Roboto', sans-serif; 
}


/* Backgrounds */

.primary-bg{
  background-image: url('../img/pexels-brunocervera-3062948.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.secundary-bg {
  background-color: #111;
  height: 100vh;
}

/* about */

.about{
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  font-family: sans-serif;
  background-color: #111; 
  color: #fff;  
}

.about h2{
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}

.about p{
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.5rem;
  max-width: 700px;
  text-indent: 5px;
} 

.secound-section{
  position: relative;
}

.two-flags-container{
  position:absolute;
  top: 100px;
  right: 20px;
}

.two-flags{
  width: 420px;
  height: auto;
}

/* News section */

/*left content*/
.newssection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.newscontent{
  width: 60%;
  padding: 0px 70px;
  box-sizing: border-box;
}

.news{
  width: 40%;
  padding: 20px;
  box-sizing: border-box;
}

.newscontent h2{
  font-family:'Roboto',Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 62px;
}

.newscontent p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  font-weight: normal;
  line-height: 1.5rem;
  text-indent: 5px;
  
/*right content*/
}
.newscontainer{
  position: relative;
  right: 40px;
  top:70px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.newsimg{
  height: 230px;
  width: 480px;
  border: solid black;
}
.endpage{
  margin-top: -50px;
}
.endpage p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  font-weight: normal;
  line-height: 1.5rem;
  text-indent: 5px;
  margin-bottom: 0px;
  text-indent: 55px;
}
.endpage button{
  display: block;
  margin: 0 auto;
  background-color: #333;     
  color: white;              
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.endpage button:hover {
  background-color: #555; 
}
